In [1]:
import pandas as pd
import numpy as np
import re

In [18]:
df = pd.read_csv('df.items.csv')

In [19]:
df.dtypes

Item        object
Price      float64
Reviews    float64
Images      object
dtype: object

In [36]:
df.dropna(inplace=True)

In [37]:
df['Reviews'].astype('int64')

0     795
1     110
2     269
3     107
4      19
5     107
6       3
7     269
8     187
9       3
10      7
11      5
12      8
13     92
14    187
15    103
16      8
17     33
18    173
19    823
20    612
21    173
22      7
23    114
24     20
25     51
26      3
27      8
28     40
29      7
30    203
31     77
32    600
33     14
34     87
35    187
36      3
37      8
38      3
Name: Reviews, dtype: int64

In [42]:
df.dtypes

Item        object
Price      float64
Reviews    float64
Images      object
dtype: object

In [44]:
df.describe()

             Price     Reviews
count    39.000000   39.000000
mean    500.981282  141.666667
std     410.933847  211.459257
min      15.980000    3.000000
25%     204.495000    8.000000
50%     439.990000   77.000000
75%     645.280000  180.000000
max    2198.990000  823.000000

In [52]:
df.sort_values(by=['Price','Reviews'], ascending=False,inplace=True)

In [56]:
df.reset_index(drop=True,inplace=True)

In [59]:
df.head(5)

,Item,Price,Reviews,Images
0,Samsung Crystal UHD 2020 43TU8005 - Smart TV d...,2198.99,8.0,https://m.media-amazon.com/images/I/71o2RZa2aB...
1,Samsung Crystal UHD 2020 65TU7105- Smart TV de...,1259.99,600.0,https://m.media-amazon.com/images/I/71UxiUNUPt...
2,"LG 24MT49S-PZ - Monitor TV de 24"" (60 cm, Smar...",1198.90,77.0,https://m.media-amazon.com/images/I/51STl+QNTP...
3,Samsung Crystal UHD 2020 55TU8505 - Smart TV d...,838.90,92.0,https://m.media-amazon.com/images/I/71hTqzmmYT...
4,Samsung Crystal UHD 2020 50TU8505 - Smart TV d...,838.90,8.0,https://m.media-amazon.com/images/I/71hTqzmmYT...